@import url('https://s-k-y-l-i.github.io/discord-themes/Theme%20code/spotify.css');

:root {
    --spotify-height: 206px;            /*default: 226px*/
    --expanded-margin-left: -11px;        /*default: 0px*/
    --small-margin-left: 0px;           /*default: 0px*/
    --spotify-image-border-radius: 8px; /*default: 5px*/
}

.theme-light #vc-spotify-player {
    background: var(--bg-overlay-3,var(--background-secondary-alt)) !important; 
}
.theme-dark #vc-spotify-player {
    background: var(--bg-overlay-1, var(--background-secondary-alt)) !important; 
}
